{include file="public/_head" /}
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <!-- Page Sidebar -->
        {include file="public/_left" /}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-home"></i>&nbsp;管理员管理
                    </li>
                    <li>管理员列表</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <a href="{:url('admin/admin/add')}" class="btn btn-sm btn-primary"><i
                        class="fa fa-plus"></i>&nbsp;管理员添加</a>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget">
                            <div class="widget-header">
                                <span class="widget-caption">管理员列表</span>
                                <div class="widget-buttons">
                                    {$admins->render()|raw|replace}
                                </div>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>账号</th>
                                            <th>昵称</th>
                                            <th>邮箱</th>
                                            <th>状态</th>
                                            <th>权限</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="admins" id="vo"}
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>{$vo.username}</td>
                                            <td>{$vo.nickname}</td>
                                            <td>{$vo.email}</td>
                                            <td>{if $vo.status == 1}可用 {else/} 禁用{/if}</td>
                                            <td>{if $vo.is_super == 1}超级管理员{else /}普通管理员{/if}</td>
                                            <td>
                                                {if session('admin.is_super') == 1}{// 如果session字段 是超级管理员走下面if 显示编辑删除和禁用
                                                否则不走}
                                                <a href="{:url('admin/admin/edit', ['id' => $vo.id])}"
                                                    class="btn btn-azure btn-xs">编辑</a>
                                                <a href="#" class="btn btn-danger btn-xs admin-del"
                                                    dataid="{$vo.id}">删除</a>
                                                {if $vo.is_super != 1} {// 如果列表字段 is_super不是1 即不是超级管理员 走下面if 显示禁用还是启用
                                                否则不走if 直接显示编辑和删除}
                                                {if $vo.status == 1}{// 如果列表status字段等于1 那么就是启动状态我们显示禁用 反之我们启用}
                                                <a href="#" class="btn btn-darkorange btn-xs admin-status"
                                                    dataid="{$vo.id}" status="{$vo.status}">禁用</a>
                                                {else /}
                                                <a href="#" class="btn btn-success btn-xs admin-status"
                                                    dataid="{$vo.id}" status="{$vo.status}">启用</a>
                                                {/if}
                                                {/if}
                                                {else /} {//这里是最外层if 对应上面从session判断是否超级管理员操作 如果不是超级管理员直接返回文字}
                                                不是超级管理员无法操作
                                                {/if}
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>

{include file="public/_js" /}
<script>
    $(function () {
        $('.admin-status').click(function () {  //禁用或启用操作
            var id = $(this).attr('dataid');
            var status = $(this).attr('status');
            if (status == 1) { //判断点击的是禁】禁用还是启用 我们在两个按钮定义了相同的类
                var msg = '确定禁用吗？';
            } else {
                var msg = '确定启用吗？';
            }
            layer.confirm(msg, {
                title: "状态操作",
                icon: 3
            }, function (index) {
                layer.close(index);
                $.ajax({
                    url: "{:url('admin/admin/status')}",
                    type: 'post',
                    data: { id: id, status: status },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 2000
                            }, function () {
                                location.href = data.url;
                            });
                        } else {
                            layer.open({
                                title: '操作失败',
                                content: data.msg,
                                icon: 5,
                                anim: 6
                            });
                        }
                    }
                });
            });
            return false;
        });

        // 删除操作
        $('.admin-del').click(function () {
            var id = $(this).attr('dataid');
            layer.confirm('确定删除吗', {
                title: "删除管理员",
                icon: 3
            }, function (index) {
                layer.close(index);
                $.ajax({
                    url: "{:url('admin/admin/del')}",
                    type: 'post',
                    dataType:"json",
                    data:{id:id},
                    success:function(data){
                        if (data.code == 1) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 2000
                            }, function () {
                                location.href = data.url;
                            });
                        } else {
                            layer.open({
                                title: '删除失败',
                                content: data.msg,
                                icon: 5,
                                anim: 6
                            });
                        }
                    }
                });
            });
            return false;
        });
    });
</script>
</body>
<!--  /Body -->

</html>